<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>Signup</h1>
    <div>
        <form method="post" action="/user">
            <label>Full Name</label>
            <input type="text" required placeholder="Enter full name" name="name" />
            <label>Email</label>
            <input type="text" required placeholder="Enter email" name="email" />
            <label>Password</label>
            <input type="text" required placeholder="Enter password" name="password" />

            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>